@model Common.Result
@{
    ViewData["Title"] = "Simple Example";
}

<div class="text-left">
    <code>
        <span class="keyword">var</span> <span class="variable">result</span> = <span class="className">Scientist</span>.Science&lt;<span class="className">Result</span>&gt;(<span class="string">"Multiple Candidates"</span>, experiment =>
        <br />{
        <br />&nbsp;&nbsp;&nbsp;&nbsp; <span class="variable">experiment</span>.Use(() => OldApi.<span class="className">Math</span>.Summary(<span class="variable">Numbers</span>));
        <br />&nbsp;&nbsp;&nbsp;&nbsp; <span class="variable">experiment</span>.Try(<span class="string">"Candidate 1"</span>, () => NewApi.<span class="className">Math</span>.Summary(<span class="variable">Numbers</span>));
        <br />&nbsp;&nbsp;&nbsp;&nbsp; <span class="variable">experiment</span>.Try(<span class="string">"Candidate 2"</span>, () => NewApi.<span class="className">Math</span>.Summary(<span class="variable">Numbers</span>));
    <br />});
</code>
</div>

<br/>

<div class="text-left">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.AntiForgeryToken()

        @Html.Label("Comma separated list of integers")
        <br /><br />
        @Html.TextArea("Numbers");
        <br /><br />
        <input type="submit" />
    }
</div>

<div class="text-left">
    @if (Model != null)
    {
        <fieldset>
            @Html.Label("Smallest", "Smallest")
            @Model.Smallest
        </fieldset>
        <fieldset>
            @Html.Label("Largest", "Largest")
            @Model.Largest
        </fieldset>
        <fieldset>
            @Html.Label("Average", "Average")
            @Model.Average
        </fieldset>
        <fieldset>
            @Html.Label("Sum", "Sum")
            @Model.Sum
        </fieldset>
    }
</div>

<div>
    @Html.Partial("ScientistResult", ViewData["Result"])
</div> 