@model Common.Result
@{
    ViewData["Title"] = "Simple Example";
}


<div class="text-center">
    <h1> Simple "Real World" Example</h1>
</div>

<br/>
<div class="text-left">
    <code>
        <span class="keyword">var</span> <span class="variable">result</span> = <span class="className">Scientist</span>.Science&lt;<span class="className">Result</span>&gt;(<span class="string">"Simple experiment"</span>, experiment =>
        <br />{
        <br />&nbsp;&nbsp;&nbsp;&nbsp; <span class="variable">experiment</span>.Use(() => OldApi.<span class="className">Math</span>.Summary(<span class="variable">Numbers</span>));
        <br />&nbsp;&nbsp;&nbsp;&nbsp; <span class="variable">experiment</span>.Try(() => NewApi.<span class="className">Math</span>.Summary(<span class="variable">Numbers</span>));
    <br />});
</code>
</div>

<br/>

<div class="text-left">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.AntiForgeryToken()

        @Html.Label("Comma separated list of integers")
        <br /><br />
        @Html.TextArea("Numbers", new { @style = "width : 50%"});
        <br /><br />
        <input type="submit" />
    }
</div>

<br/>

@if (Model != null)
{
    <div class="text-left">
        <h2>Results</h2>
    </div>
    <br/>
    <div class="text-left">
        <h4>
            @Html.Label("Smallest", "Smallest") : @Model.Smallest
        </h4>
        <h4>
            @Html.Label("Largest", "Largest") : @Model.Largest
        </h4>
        <h4>
            @Html.Label("Average", "Average") : @Model.Average
        </h4>
        <h4>
            @Html.Label("Sum", "Sum") : @Model.Sum
        </h4>
    </div>
}

@if (String.Compare(Context.Request.Method, "POST", StringComparison.OrdinalIgnoreCase) == 0)
{
    <div>
        @Html.Partial("ScientistResult", ViewData["Result"])
    </div> 
}